* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* HEADER */
header {
  height: 100vh;
  background-image: url("../images/image-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /*.header-background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
    }*/
}

header .wrap {
  height: 100%;
}

header .wrap nav {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}

header .wrap nav ul {
  list-style-type: none;
  float: right;
  margin-right: 40px;
}

header .wrap nav ul li {
  display: inline-block;
}

header .wrap nav ul li a {
  display: block;
  position: relative;
  color: #E0DEDE;
  /*#313033;*/
  line-height: 80px;
  padding: 0 18px;
  font-size: 1.3rem;
  text-decoration: none;
}

header .wrap nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #339AEA;
  transition: .3s;
}

header .wrap nav ul li a:hover {
  color: #339AEA;
  /*&::before {
                                width: 100%;
                            }*/
}

header .welcome {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: calc(100vh - 80px);
  width: 100%;
  color: #FFFFFF;
}

header .welcome h1 {
  font-size: 5rem;
  letter-spacing: 2px;
  color: #339AEA;
}

header .welcome h2 {
  color: #E0DEDE;
  font-size: 2.5rem;
  text-transform: uppercase;
}

header .welcome a {
  display: inline-block;
  padding: 40px 20px;
}

header .welcome a i {
  font-size: 3.5rem;
  color: #339AEA;
  transition: .3s;
}

header .welcome a i:hover {
  color: #69ace0;
}

header .welcome .arrow-up {
  position: fixed;
  bottom: 3%;
  right: 3%;
}

header .welcome .arrow-up span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-top: 2px solid #2C2C2C;
  border-left: 2px solid #2C2C2C;
  border-bottom: none;
  border-right: none;
  animation: arrows 1.5s infinite;
}

header .welcome .arrow-up span:nth-of-type(1) {
  animation-delay: .4s;
}

header .welcome .arrow-up span:nth-of-type(2) {
  animation-delay: .2s;
  top: 15px;
}

header .welcome .arrow-up span:nth-of-type(3) {
  top: 30px;
}

@keyframes arrows {
  0% {
    border-top: 2px solid #2C2C2C;
    border-left: 2px solid #2C2C2C;
  }
  50% {
    border-top: 2px solid #339AEA;
    border-left: 2px solid #339AEA;
  }
  100% {
    border-top: 2px solid #2C2C2C;
    border-left: 2px solid #2C2C2C;
  }
}

/* ABOUT */
.about {
  height: 100vh;
}

.about h1 {
  font-size: 2.8rem;
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
  color: #2C2C2C;
  font-weight: 900;
}

.about .about-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  height: calc(100vh - 54px - 100px);
}

.about .about-container .about-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 200px;
  box-shadow: 1px 1px 1px 1px grey;
}

.about .about-container .about-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
}

/* SKILLS */
.skills {
  height: 100vh;
  background-image: url("../images/pattern-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #339AEA;
}

.skills .skills-wrap {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.skills .skills-wrap h1 {
  font-size: 2.8rem;
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
  color: #2C2C2C;
  font-weight: 900;
}

.skills .skills-wrap .skills-container {
  max-width: 1280px;
  height: calc(100vh - 54px - 100px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.skills .skills-wrap .skills-container .skills-icon {
  -ms-flex-preferred-size: 17%;
      flex-basis: 17%;
  height: 150px;
}

.skills .skills-wrap .skills-container .skills-icon img {
  display: block;
  margin: 0 auto;
  height: 100%;
}

/* PORTFOLIO */
.portfolio h1 {
  font-size: 2.8rem;
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
  color: #2C2C2C;
  font-weight: 900;
}

.portfolio .portfolio-container {
  max-width: 1280px;
  margin: 50px auto 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .portfolio-container .portfolio-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.portfolio .portfolio-container .portfolio-item a.portfolio-image {
  display: inline-block;
  transform: scale(1);
  transition: .3s;
}

.portfolio .portfolio-container .portfolio-item a.portfolio-image:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.portfolio .portfolio-container .portfolio-item a.portfolio-image img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .portfolio-container .portfolio-item .portfolio-description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: stretch;
      align-items: stretch;
  background-color: #339AEA;
  color: #FFFFFF;
  width: 300px;
  height: 190px;
  text-align: center;
  margin-bottom: 100px;
}

.portfolio .portfolio-container .portfolio-item .portfolio-description h2 {
  color: #2C2C2C;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 15px 0;
}

.portfolio .portfolio-container .portfolio-item .portfolio-description p {
  color: #E0DEDE;
  font-size: .9rem;
  padding: 0 15px;
}

.portfolio .portfolio-container .portfolio-item .portfolio-description div {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
}

.portfolio .portfolio-container .portfolio-item .portfolio-description div a {
  display: inline-block;
  font-size: .8rem;
  margin: 20px 20px 30px;
  padding: 7px 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #2C2C2C;
  background-color: #FFFFFF;
  color: #2C2C2C;
  cursor: pointer;
  transition: .3s;
}

.portfolio .portfolio-container .portfolio-item .portfolio-description div a:hover {
  background-color: #2C2C2C;
  color: #FFFFFF;
}

/* CONTACT */
.contact {
  background-image: url("../images/water.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contact .contact-wrap {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.contact .contact-wrap h1 {
  font-size: 2.8rem;
  text-align: center;
  padding: 50px 0 40px;
  text-transform: uppercase;
  color: #2C2C2C;
  font-weight: 900;
}

.contact .contact-wrap p.contact-questions {
  text-align: center;
  font-size: 1.4rem;
  line-height: 35px;
  color: #2C2C2C;
}

.contact .contact-wrap .contact-information {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 40px 0 0 0;
}

.contact .contact-wrap .contact-information .contact-info {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 1.4rem;
  color: #2C2C2C;
}

.contact .contact-wrap .contact-information .contact-info i {
  font-size: 2.3rem;
}

.contact .contact-wrap .contact-social-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  /*i {
                padding: 60px 20px 50px;
                font-size: 3.5rem;
                color: $headerColor;
                transition: .3s;

                &:hover {
                    color: #383842;
                }
            }*/
}

.contact .contact-wrap .contact-social-btn a {
  display: inline-block;
  padding: 60px 20px 50px;
}

.contact .contact-wrap .contact-social-btn a i {
  font-size: 3.5rem;
  color: #2C2C2C;
  transition: .3s;
}

.contact .contact-wrap .contact-social-btn a i:hover {
  color: #383842;
}

/* FOOTER */
.footer {
  color: #2C2C2C;
  line-height: 60px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */