$mainColor:
/*#e2861d;*/
/*#ff5e00;*/
#FF9600;

@mixin flexCenter ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: space-between;
    align-items: center;
}

@mixin flexAround ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: space-around;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* HEADER */

header {
    height: 100vh;
    background-image: url('../images/image-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .wrap {
        background-color: rgba(255, 255, 255, 0.2);
        height: 100%;

        nav {
            height: 80px;
            background-color: rgba(255, 255, 255, 0.8);

            ul {
                list-style-type: none;
                float: right;
                margin-right: 40px;

                li {
                    display: inline-block;

                    a {
                        display: block;
                        position: relative;
                        color: #313033;
                        line-height: 80px;
                        padding: 0 18px;
                        font-size: 1.3rem;
                        text-decoration: none;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 20px;
                            left: 0;
                            width: 0;
                            height: 2px;
                            background-color: $mainColor;
                            transition: .3s;
                        }

                        &:hover {
                            color: $mainColor;

                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .welcome {
            @include flexCenter(column);
            height: calc(100vh - 80px);
            width: 100%;
            color: #FFFFFF;

            h1 {
                font-size: 5rem;
                letter-spacing: 2px;
                color: $mainColor;
            }

            h2 {
                font-size: 2.5rem;
                text-transform: uppercase;
            }
        }
    }
}

/* ABOUT */

.about {
    height: 100vh;

    h1 {
        font-size: 2.8rem;
        text-align: center;
        padding: 50px;
        text-transform: uppercase;
        color: $mainColor;
    }

    .about-container {
        @include flexAround(row);
        height: calc(100vh - 54px - 100px);

        .about-text {
            flex-basis: 50%;
            margin-left: 200px;
            box-shadow: 1px 1px 1px 1px grey;
        }

        .about-image {
            flex-basis: 50%;
            text-align: center;
        }
    }
}

/* SKILLS */

.skills {
    height: 100vh;
    background-image: url('../images/pattern-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: $mainColor;

    .skills-wrap {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);

        h1 {
            font-size: 2.8rem;
            text-align: center;
            padding: 50px;
            text-transform: uppercase;
            color: $mainColor;
        }

        .skills-container {
            max-width: 1280px;
            height: calc(100vh - 54px - 100px);
            display: flex;
            justify-content: space-around;
            align-content: space-around;
            flex-wrap: wrap;
            margin: 0 auto;

            .skills-icon {
                flex-basis: 17%;
                height: 150px;

                img {
                    display: block;
                    margin: 0 auto;
                    height: 100%;
                }
            }
        }
    }
}

/* PORTFOLIO */

.portfolio {

    h1 {
        font-size: 2.8rem;
        text-align: center;
        padding: 50px;
        text-transform: uppercase;
        color: $mainColor;
    }

    .portfolio-container {
        max-width: 1280px;
        margin: 50px auto 0;
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;

        .portfolio-item {
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a.portfolio-image {
                display: inline-block;
                transform: scale(1);
                transition: .3s;

                &:hover {
                    transform: scale(1.04);
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                }

                img {
                    display: block;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .portfolio-description {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                background-color: #f7a734;
                color: #FFFFFF;
                width: 300px;
                height: 190px;
                text-align: center;
                margin-bottom: 100px;

                h2 {
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    padding: 15px 0;
                }

                p {
                    font-size: .9rem;
                    padding: 0 15px;
                }

                div {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-end;

                    a {
                        display: inline-block;
                        font-size: .8rem;
                        margin: 20px 20px 30px;
                        padding: 7px 12px;
                        text-decoration: none;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        border: 1px solid #2C2C2C;
                        background-color: #FFFFFF;
                        color: #2C2C2C;
                        cursor: pointer;
                        transition: .3s;

                        &:hover {
                            background-color: #2C2C2C;
                            color: #FFFFFF;
                        }

                    }
                }
            }
        }
    }
}